# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.env
.venv
.env.local
.env.*.local

# Image
*.jpg

# Large file directory
trained_models/*
!trained_models/README.md

# Data directories
data/embeddings/*
!data/embeddings/README.md
!data/embeddings/0000001.npy
!data/embeddings/0000002.npy

data/sage/*
!data/sage/README.md
!data/sage/val/metadata.jsonl

data/user_data/num_1k/embeddings/*
!data/embeddings/0000001.npy
!data/embeddings/0000002.npy

# Evaluation data and results
evaluation/eval_images/*
!evaluation/eval_images/README.md
!evaluation/eval_images/debug/

evaluation/Q16/data/*
!evaluation/Q16/data/ViT-L-14/
!evaluation/Q16/data/ViT-L-14/*

inference_results/*